<div class="tile" id="list-{{.List.ID}}">
	<div class="card mb-3">
		<header class="card-header">
			<p class="card-header-title">
                {{ if .EditingName }}
					<form hx-patch="/lists/{{.List.ID}}"
						  hx-target="#list-{{.List.ID}}"
						  hx-swap="outerHTML">
						<input type="text"
							   value="{{.List.Name}}"
							   class="input"
							   placeholder="Name"
							   aria-label="Name"
							   name="name">
						<button class="button is-link is-small ml-2">Save</button>
					</form>
				{{ else }}
					{{if .List.Name}}
						{{.List.Name}}
					{{else}}
						(Untitled List)
					{{end}}
					<button type="button"
							class="button is-link is-small ml-2"
							hx-get="/lists/{{.List.ID}}/edit"
							hx-target="#list-{{.List.ID}}">Edit
					</button>
				{{ end }}
			</p>
		</header>
		<div class="card-content">
			<div class="content">
				<ul>
					<li>Item 1</li>
					<li>Item 2</li>
					<li>Item 3</li>
				</ul>
			</div>
		</div>
		<footer class="card-footer">
			<a href="#" class="card-footer-item">Save</a>
			<a href="#" class="card-footer-item">Edit</a>
			<a href="#" class="card-footer-item"
			   hx-confirm="Are you sure you want to delete this list?"
			   hx-delete="/lists/{{.List.ID}}"
			   hx-target="#list-{{.List.ID}}"
			   hx-swap="delete">Delete</a>
		</footer>
	</div>
</div>
