{{#> layouts/main title="Lists"}}
	{{#*inline "content"}}
		<h1 class="title">Lists</h1>
		<div id="lists">
			{{#each lists}}
				{{>lists/_card list=this editing_name=false}}
			{{/each}}
		</div>
		{{>lists/_form list=new_list}}
	{{/inline}}
{{/layouts/main}}
