{{#> layouts/main title="404 Not Found"}}
	{{#*inline "content"}}
		<h1 class="title">404 Not Found</h1>
		<p>We're sorry, we couldn't find the page you were looking for.</p>
	{{/inline}}
{{/layouts/main}}
